<h1>Pipes <small class="text-sm-center"><a href="https://angular.io/guide/pipes" target="_blank">https://angular.io/guide/pipes</a></small></h1>
<p class="lead">Transformación visual de la data</p>

<p appResaltado>Hola</p>

<table class="table mb-4">
  <thead>
    <tr>
      <th>Pipe</th>
      <th>Código</th>
      <th>Transformación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>uppercase</td>
      <td>
        <code><![CDATA[{ texto | uppercase }]]></code>
      </td>
      <td>{{texto | uppercase}}</td>
    </tr>
    <tr>
      <td rowspan="2">currency</td>
      <td>
        <code><![CDATA[{ importe | currency }]]></code>
      </td>
      <td>{{importe | currency}}</td>
    </tr>
    <tr>
      <td>
        <code><![CDATA[{ importe | currency:'EUR' }]]></code>
      </td>
      <td>{{importe | currency:'EUR'}}</td>
    </tr>
    <tr>
      <td>date</td>
      <td>
        <code><![CDATA[{ fecha | date }]]></code>
      </td>
      <td>{{fecha | date}}</td>
    </tr>
    <tr>
      <td>json</td>
      <td>
        <code><![CDATA[{ object | json }]]></code>
      </td>
      <td>{{object | json}}</td>
    </tr>
  </tbody>
</table>

<p><a href="https://angular.io/api?type=pipe" target="_blank">https://angular.io/api?type=pipe</a></p>

<h4>Pipes personalizado</h4><br>
<table class="table">
  <thead>
  <tr>
    <th>Pipe</th>
    <th>Código</th>
    <th>Transformación</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>capitalizado</td>
    <td>
      <code><![CDATA[{ texto | capitalizado }]]></code>
    </td>
    <td>{{texto | capitalizado}}</td>
  </tr>
  </tbody>
</table>
<app-card-code title="src/app/pipes/capitalizado.pipe.ts" body="{{pipe_capitalizado}}"></app-card-code>
<app-card-code title="src/app/app.modules.ts" body="{{app_module}}"></app-card-code>

