<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['home']">Angular Basic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['empezando']">Empezando</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarTutorial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tutorial
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarTutorial">
          <a class="dropdown-item" [routerLink]="['tutorial','introduccion']">Introducción</a>
          <a class="dropdown-item" [routerLink]="['tutorial','pipes']">Pipes</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarModulos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Módulos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarModulos">
          <a class="dropdown-item" [routerLink]="['modulos','ng2charts']">Ng2 Charts</a>
          <a class="dropdown-item" [routerLink]="['modulos','ng2translate']">Ng2 Translate</a>
          <a class="dropdown-item" [routerLink]="['modulos','ng2ckeditor']">Ng2 Ckeditor</a>
          <a class="dropdown-item" href="https://github.com/joeherold/angular2-sails" target="_blank">angular2-sails</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['modulos','angularfire']">AngularFirebase</a>
          <a class="dropdown-item" [routerLink]="['modulos','bootstrap4']">Bootstrap 4</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
